In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
house_data = pd.read_csv('../data/raw/Property_Assessment_Data__Historical_.csv')

c:\users\mitch\documents\data science side projects\edmonton property dashboard\prop_env\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (2,17,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
#current year as of oct 2021 -> accessed oct 27/2021
current_house_data = pd.read_csv('../data/raw/Property_Assessment_Data__Current_Calendar_Year_.csv')

In [12]:
current_house_data.head()

,Account Number,Suite,House Number,Street Name,Garage,Neighbourhood ID,Neighbourhood,Ward,Assessed Value,Latitude,Longitude,Point Location,Assessment Class % 1,Assessment Class % 2,Assessment Class % 3,Assessment Class 1,Assessment Class 2,Assessment Class 3
0,10177229,NaN,NaN,NaN,N,6213.0,SUMMERSIDE,Karhiio Ward,52000,53.420646,-113.475389,POINT (-113.4753890817257 53.42064580930636),100,NaN,NaN,COMMERCIAL,NaN,NaN
1,1194422,NaN,15613.0,83 STREET NW,N,2050.0,BELLE RIVE,tastawiyiniwak Ward,242000,53.616851,-113.467976,POINT (-113.46797578947897 53.61685142883479),100,NaN,NaN,RESIDENTIAL,NaN,NaN
2,1034222,NaN,10626.0,161 AVENUE NW,Y,3040.0,BEAUMARIS,tastawiyiniwak Ward,411500,53.620471,-113.507630,POINT (-113.50763003337708 53.620471257753714),100,NaN,NaN,RESIDENTIAL,NaN,NaN
3,1114768,NaN,14915.0,76 AVENUE NW,Y,4430.0,RIO TERRACE,sipiwiyiniwak Ward,431500,53.508643,-113.579289,POINT (-113.57928868418604 53.508643477515854),100,NaN,NaN,RESIDENTIAL,NaN,NaN
4,1012285,NaN,564.0,WOLF WILLOW ROAD NW,Y,4610.0,WESTRIDGE,sipiwiyiniwak Ward,686500,53.507641,-113.603755,POINT (-113.60375458739135 53.507641466024275),100,NaN,NaN,RESIDENTIAL,NaN,NaN

# House Data EDA

In [7]:
house_data.head()

,Account Number,Assessment Year,Suite,House Number,Street Name,Legal Description,Latitude,Longitude,Point Location,Neighbourhood,...,Garage,Zoning,Lot Size,Assessed Value,Assessment Class 1,Assessment Class % 1,Assessment Class 2,Assessment Class % 2,Assessment Class 3,Assessment Class % 3
0,1068451,2015,NaN,4007.0,SAVARYN DRIVE SW,SW 22-51-24-4,NaN,NaN,NaN,SUMMERSIDE,...,N,RPL,109314.321,7597000.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
1,1152594,2012,NaN,17310.0,97 STREET NW,NaN,NaN,NaN,NaN,ELSINORE,...,N,AG,0.000,12500.0,COMMERCIAL,100.0,NaN,NaN,NaN,NaN
2,1153568,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BATTERY OIL FIELDS,...,N,AG,0.000,88000.0,COMMERCIAL,100.0,NaN,NaN,NaN,NaN
3,1153626,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BATTERY OIL FIELDS,...,N,AG,0.000,0.0,COMMERCIAL,100.0,NaN,NaN,NaN,NaN
4,1248590,2016,NaN,NaN,NaN,NW 3-52-25-4,NaN,NaN,NaN,TERWILLEGAR AREA,...,N,A,10000.000,49500.0,COMMERCIAL,100.0,NaN,NaN,NaN,NaN

In [13]:
house_data.columns

Index(['Account Number', 'Assessment Year', 'Suite', 'House Number',
       'Street Name', 'Legal Description', 'Latitude', 'Longitude',
       'Point Location', 'Neighbourhood', 'Actual Year Built', 'Garage',
       'Zoning', 'Lot Size', 'Assessed Value', 'Assessment Class 1',
       'Assessment Class % 1', 'Assessment Class 2', 'Assessment Class % 2',
       'Assessment Class 3', 'Assessment Class % 3'],
      dtype='object')

In [17]:
house_data.shape

(3384820, 21)

In [19]:
house_data['Account Number'].is_unique

False

Some properties have multiple assessments

In [21]:
house_data['Assessment Class 1'].unique()

array(['RESIDENTIAL', 'COMMERCIAL', nan, 'FARMLAND', 'OTHER RESIDENTIAL',
       'NONRES MUNICIPAL/RES EDUCATION'], dtype=object)

In [22]:
house_data['Assessment Class 2'].unique()

array([nan, 'RESIDENTIAL', 'FARMLAND', 'COMMERCIAL', 'OTHER RESIDENTIAL',
       'NONRES MUNICIPAL/RES EDUCATION'], dtype=object)

In [23]:
house_data['Assessment Class 3'].unique()

array([nan, 'FARMLAND', 'COMMERCIAL', 'RESIDENTIAL', 'OTHER RESIDENTIAL',
       'NONRES MUNICIPAL/RES EDUCATION'], dtype=object)

In [31]:
house_data[~house_data['Assessment Class 2'].isna()]

,Account Number,Assessment Year,Suite,House Number,Street Name,Legal Description,Latitude,Longitude,Point Location,Neighbourhood,...,Garage,Zoning,Lot Size,Assessed Value,Assessment Class 1,Assessment Class % 1,Assessment Class 2,Assessment Class % 2,Assessment Class 3,Assessment Class % 3
718,1008770,2015,NaN,10640.0,180 STREET NW,Plan: 7214KS Lot: 2,53.55080,-113.63436,POINT (-113.63436 53.5508),WILSON INDUSTRIAL,...,N,IM,64683.449,1779000.0,COMMERCIAL,1.0,RESIDENTIAL,99.0,NaN,NaN
807,1001544,2013,NaN,2703.0,184 STREET NW,SE 4-52-25-4,53.45936,-113.62259,POINT (-113.62259 53.45936),RURAL WEST,...,N,A,212866.582,552000.0,RESIDENTIAL,99.0,FARMLAND,1.0,NaN,NaN
2272,1002294,2013,NaN,2304.0,184 STREET NW,SE 5-52-25-4,53.45754,-113.64299,POINT (-113.64299 53.45754),RURAL WEST,...,N,AG,303777.470,96500.0,RESIDENTIAL,24.0,FARMLAND,76.0,NaN,NaN
3511,1002328,2019,NaN,18904.0,23 AVENUE NW,SE 5-52-25-4,53.45754,-113.64905,POINT (-113.64905 53.45754),THE UPLANDS,...,N,AG,303770.525,2159000.0,RESIDENTIAL,99.0,FARMLAND,1.0,NaN,NaN
3543,1001361,2012,NaN,2005.0,184 STREET NW,NE 33-51-25-4 / NW 33-51-25-4,53.45081,-113.63449,POINT (-113.63449 53.45081),RURAL WEST,...,N,AG,383887.175,760500.0,RESIDENTIAL,92.0,FARMLAND,8.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3382038,10945385,2020,NaN,310.0,PARSONS ROAD SW,Plan: 1922859 Block: 2 Lot: 2,53.43101,-113.48145,POINT (-113.48145 53.43101),ELLERSLIE INDUSTRIAL,...,N,EIB,21460.293,2436500.0,COMMERCIAL,76.0,FARMLAND,23.0,FARMLAND,1.0
3382764,10945386,2020,NaN,420.0,PARSONS ROAD SW,Plan: 1922859 Block: 2 Lot: 3,53.42993,-113.48149,POINT (-113.48149 53.42993),ELLERSLIE INDUSTRIAL,...,N,EIB,15775.722,2436000.0,COMMERCIAL,68.0,FARMLAND,31.0,FARMLAND,1.0
3382790,10931838,2020,NaN,51012.0,HIGHWAY 2 SERVICE ROAD 2 SW,NaN,53.36892,-113.53245,POINT (-113.53245 53.36892),EDMONTON SOUTH CENTRAL,...,Y,AES,156856.467,660500.0,RESIDENTIAL,93.0,COMMERCIAL,4.0,FARMLAND,2.0
3383112,10928855,2020,NaN,6415.0,200 STREET SW,Plan: 1920354 Block: 1 Lot: 5,53.37485,-113.66125,POINT (-113.66125 53.37485),EDMONTON SOUTH WEST,...,Y,AES,50029.309,512500.0,RESIDENTIAL,99.0,FARMLAND,1.0,NaN,NaN
3384610,10951325,2020,NaN,10615.0,82 AVENUE NW,Plan: I Block: 64 Lot: 5 / Plan: I Block: 6...,53.51777,-113.50424,POINT (-113.50424 53.51777),QUEEN ALEXANDRA,...,N,DC1,3234.367,7886500.0,OTHER RESIDENTIAL,80.0,COMMERCIAL,20.0,NaN,NaN

Assessment class looks to classify if the property is a certain type of property (residential, commercial, etc.). Some properties can consist of multiple classes (eg. an apartment building with businesses on the main floor).

For this project, focused only on residential properties

In [45]:
resi_house_data = house_data[(house_data['Assessment Class 1'] == 'RESIDENTIAL') & (house_data['Assessment Class % 1'] == 100)]

In [46]:
resi_house_data

,Account Number,Assessment Year,Suite,House Number,Street Name,Legal Description,Latitude,Longitude,Point Location,Neighbourhood,...,Garage,Zoning,Lot Size,Assessed Value,Assessment Class 1,Assessment Class % 1,Assessment Class 2,Assessment Class % 2,Assessment Class 3,Assessment Class % 3
0,1068451,2015,NaN,4007.0,SAVARYN DRIVE SW,SW 22-51-24-4,NaN,NaN,NaN,SUMMERSIDE,...,N,RPL,109314.321,7597000.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
7,1650860,2014,NaN,NaN,NaN,Plan: 3782RS Block: 1 Lot: 30U,53.51545,-113.61627,POINT (-113.61627 53.51545),THORNCLIFF,...,N,RF1,118.072,0.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
9,2914836,2018,NaN,13004.0,115 AVENUE NW,Plan: 1568HW Block: 4 Lot: 21,NaN,NaN,NaN,INGLEWOOD,...,Y,RF3,490.277,358500.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
14,3169893,2019,NaN,2503.0,101 STREET SW,Plan: 8721140 Block: E,NaN,NaN,NaN,ELLERSLIE INDUSTRIAL,...,N,AGI,49452.501,244500.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
28,9947689,2013,NaN,35.0,ELSINORE PLACE NW,NE 5-54-24-4,NaN,NaN,NaN,ELSINORE,...,N,RF1,711.319,55500.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384813,10937630,2020,NaN,3703.0,2 STREET NW,Plan: 1922185 Block: 6 Lot: 4,53.47286,-113.34529,POINT (-113.34529 53.47286),MAPLE,...,N,RMD,334.741,74500.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
3384814,10961829,2020,43,1391.0,STARLING DRIVE NW,Plan: 1621919 Unit: 56,53.59888,-113.65292,POINT (-113.65292 53.59888),STARLING,...,Y,RA7,205.444,281500.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
3384816,10954527,2020,NaN,NaN,NaN,Plan: 1923211 Unit: 87A,53.51841,-113.50710,POINT (-113.5071 53.51841),GARNEAU,...,N,DC1,5.849,10000.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
3384817,10954448,2020,116,10728.0,82 AVENUE NW,Plan: 1923211 Unit: 7A,53.51841,-113.50710,POINT (-113.5071 53.51841),GARNEAU,...,N,DC1,63.649,408000.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN
3384819,10943939,2020,NaN,5242.0,23 AVENUE SW,Plan: 1922598 Block: 11 Lot: 33,53.41254,-113.42280,POINT (-113.4228 53.41254),WALKER,...,N,DC1,340.353,146500.0,RESIDENTIAL,100.0,NaN,NaN,NaN,NaN

In [53]:
pd.set_option('float_format', '{:f}'.format)
resi_house_data['Assessed Value'].describe()

count    3159043.000000
mean      316251.180583
std       267990.034578
min            0.000000
25%       188500.000000
50%       315500.000000
75%       407500.000000
max     30081500.000000
Name: Assessed Value, dtype: float64

In [54]:
resi_house_data['Lot Size'].describe()

count   3133955.000000
mean        575.083918
std        6655.532823
min           0.000000
25%         116.873000
50%         386.330000
75%         568.710000
max      692660.676000
Name: Lot Size, dtype: float64

In [57]:
resi_house_data[(resi_house_data['House Number'] == 3620) & (resi_house_data['Street Name'] == '29 STREET NW')]

,Account Number,Assessment Year,Suite,House Number,Street Name,Legal Description,Latitude,Longitude,Point Location,Neighbourhood,...,Garage,Zoning,Lot Size,Assessed Value,Assessment Class 1,Assessment Class % 1,Assessment Class 2,Assessment Class % 2,Assessment Class 3,Assessment Class % 3
1916388,9970481,2013,NaN,3620.000000,29 STREET NW,Plan: 9924971 Block: 44 Lot: 16,53.469140,-113.385440,POINT (-113.38544 53.46914),WILD ROSE,...,Y,RF1,555.343000,460000.000000,RESIDENTIAL,100.000000,NaN,NaN,NaN,NaN
1919968,9970481,2017,NaN,3620.000000,29 STREET NW,Plan: 9924971 Block: 44 Lot: 16,53.469140,-113.385440,POINT (-113.38544 53.46914),WILD ROSE,...,Y,RF1,555.343000,498000.000000,RESIDENTIAL,100.000000,NaN,NaN,NaN,NaN
1920832,9970481,2012,NaN,3620.000000,29 STREET NW,Plan: 9924971 Block: 44 Lot: 16,53.469140,-113.385440,POINT (-113.38544 53.46914),WILD ROSE,...,Y,RF1,555.343000,402500.000000,RESIDENTIAL,100.000000,NaN,NaN,NaN,NaN
1922121,9970481,2016,NaN,3620.000000,29 STREET NW,Plan: 9924971 Block: 44 Lot: 16,53.469140,-113.385440,POINT (-113.38544 53.46914),WILD ROSE,...,Y,RF1,555.343000,498000.000000,RESIDENTIAL,100.000000,NaN,NaN,NaN,NaN
1923324,9970481,2020,NaN,3620.000000,29 STREET NW,Plan: 9924971 Block: 44 Lot: 16,53.469140,-113.385440,POINT (-113.38544 53.46914),WILD ROSE,...,Y,RF1,555.343000,497500.000000,RESIDENTIAL,100.000000,NaN,NaN,NaN,NaN
1927945,9970481,2015,NaN,3620.000000,29 STREET NW,Plan: 9924971 Block: 44 Lot: 16,53.469140,-113.385440,POINT (-113.38544 53.46914),WILD ROSE,...,Y,RF1,555.343000,492000.000000,RESIDENTIAL,100.000000,NaN,NaN,NaN,NaN
1929144,9970481,2019,NaN,3620.000000,29 STREET NW,Plan: 9924971 Block: 44 Lot: 16,53.469140,-113.385440,POINT (-113.38544 53.46914),WILD ROSE,...,Y,RF1,555.343000,515000.000000,RESIDENTIAL,100.000000,NaN,NaN,NaN,NaN
1931308,9970481,2014,NaN,3620.000000,29 STREET NW,Plan: 9924971 Block: 44 Lot: 16,53.469140,-113.385440,POINT (-113.38544 53.46914),WILD ROSE,...,Y,RF1,555.343000,473500.000000,RESIDENTIAL,100.000000,NaN,NaN,NaN,NaN
1934883,9970481,2018,NaN,3620.000000,29 STREET NW,Plan: 9924971 Block: 44 Lot: 16,53.469140,-113.385440,POINT (-113.38544 53.46914),WILD ROSE,...,Y,RF1,555.343000,498000.000000,RESIDENTIAL,100.000000,NaN,NaN,NaN,NaN